
<BODY>
<A NAME="paper"></A><h1 align=center>Editorial</h1>
<p>
This issue of Information Research News contains three papers, all of them representing developments in areas that have been covered previously in the journal.  First, Ekmekçioglu et al. describe the development and evaluation of stemming and n-gram procedures for the conflation of variant word forms in searches of Turkish text databases.  Next, Loughridge summarises the main conclusions from a project funded by the British Library on the information needs of the heads of departments in UK universities, updating a preliminary paper that we published in 1995.  Then, we have the completion of a two-part paper by Nunes and Fowell on the development and implementation of a new model for educational applications of hypermedia.  The issue is completed by a list of dissertations produced by our 1994/95 MA and MSc students during their final year.
<p>
Users of the "frames" version of this e-journal should be aware that to move back to the text from an entry in a bibliography, you need to press the <b><i>Right</i></b> mouse button and then select "Back in frame". Netscape's "Back" button will take you back to the previous URL, not back within the frame.
<p>
<p><i>Information Research</i> is designed, maintained and published by by <a ref="mailto:t.d.wilson@sheffield.ac.uk"> Professor Tom Wilson.</a> Design and editorial content  &copy; T.D. Wilson, 1996
</body>
