
	H1 {
	COLOR: maroon;
	FONT-FAMILY: "Times New Roman", Times, serif;
	FONT-SIZE: xx-large;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left
}
	BLOCKQUOTE {
		BACKGROUND-COLOR: #FEFFD2;
		COLOR: black;
		FONT-FAMILY: serif;
		FONT-SIZE: medium;
		FONT-STYLE: italic;
		FONT-WEIGHT: normal;
		MARGIN-LEFT: 20px;
		MARGIN-RIGHT: 10px;
		TEXT-ALIGN: justify
	}
	H2 {
	COLOR: navy;
	FONT-FAMILY: sans-serif;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left
}
	H3 {
	COLOR: maroon;
	FONT-FAMILY: sans-serif;
	FONT-SIZE: medium;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left
}

H4 {
	color : Green;
	font-style : italic;
}

	P {
		COLOR: black;
		FONT-FAMILY: serif;
		FONT-SIZE: large;
		FONT-STYLE: normal;
		FONT-WEIGHT: normal;
		TEXT-ALIGN: left;
	}
	DIV {
	font : bold normal small Verdana, Geneva, Arial, Helvetica, sans-serif;
}

	LI {
	COLOR: black;
	FONT-FAMILY: serif;
	FONT-SIZE: large;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	margin : 10px;
	text-align : left;
}
	OL {
		COLOR: black; FONT-FAMILY: serif; FONT-SIZE: large; FONT-STYLE: normal; FONT-WEIGHT: normal; 
	}
	UL {
		COLOR: black; FONT-FAMILY: serif; FONT-SIZE: large; FONT-STYLE: normal; FONT-WEIGHT: normal; 
	}


